# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes credentials
kubeconfig

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/
